{% extends "base.html" %}

{% block content %}
<h1> {{ contact }}</h1>
<p> Email: {{ contact.email }}</p>
<ul>
   <li>{{ contact.address.first_line }}<br/>
       {{ contact.address.city }} {{ contact.address.state }}<br/>
       {{ contact.address.postal_code }}
   </li>
</ul>
<a href="{% url "contacts-list" %}">return to Contacts list</a>
<br>
<a href="{% url "contacts-edit" pk=contact.id %}">edit</a>
<br>
<a href="{% url "contacts-edit-addresses" pk=contact.id %}">edit addresses</a>
{% endblock  %}