{% extends "base.html" %}

{% block content %}
<h1> {{ organisation }}</h1>
<p> Email: {{ organisation.email }}</p>
<p>Address:</p>
<ul>
   <li>{{ organisation.organisationaddress.first_line }}<br/>
       {{ organisation.organisationaddress.city }}, {{ organisation.organisationaddress.state }}<br/>
       {{ organisation.organisationaddress.postal_code }}
   </li>
</ul>
<a href="{% url "organisations-list" %}">return to Organisation list</a>
<br>
<a href="{% url "contacts-list" %}">return to Contact list</a>
<br>
<a href="{% url "organisations-edit" pk=organisation.id %}">edit</a>
<br>
<a href="{% url "organisations-edit-addresses" pk=organisation.id %}">edit addresses</a>
{% endblock  %}